.landing-page-parent{
	margin: 5% 10% 10% 10%;
    display: flex;
    flex-direction: row;
    position: relative;
    width: fit-content;
}

.landing-page-heading{
	margin: 0 0 10% 0;
	opacity: 0.8;
	font-family: HelveticaNeue-Bold;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 3.53px;
	text-align: left;
	z-index: 99;
	color: #ffffff;

}

.landing-page-image{
	height: 50px;
	width: 50px;
	background:url('../images/heading.png');
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	right: -8px;
	top: -10px;
}

.member-list {
	margin: 0 10%;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	@include max-width(992px) {
        number: 3; 
    }

    @include max-width(640px) {
        number: 2; 
    }
}

.member-list-child {
	flex-basis: 30%;
}