
.landing-footer-parent{

	width: 100%;
	height: 40%;
    background: #000000;
    color: white;
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center;*/

   
}

.landing-footer-childl{
	margin: 3% 0 0 0;
	padding: 0 0 0 7%;
	width: 70%;
}

.landing-footer-childl-heading{
	font-size: 2rem;
	font-family: HelveticaNeue-Bold;
}

.landing-footer-childl-content{
	margin: 0 0 7% 0;
	width: 700px;
	opacity: 0.8;
	font-family: HelveticaNeue-Light;
	font-size: 1.25rem;
	font-stretch: normal;
	font-style: normal;
	line-height: 12rem;
	letter-spacing: normal;
	text-align: justify;
	color: #ffffff;
} 

.landing-footer-childr{
	/*padding: 0 0 0 5%;*/
	margin: 3% 0 0 0;
	width: 30%;
}

.footer-links{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}

.footer-links li {
	list-style-type: none;
	width: 20%;
	line-height: 3em;
	font-family: sans-serif;
	font-size: 0.9375rem;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.15rem; 
	color: #ee3322;
}

.ted {
	color: #ed3723;
	font-weight: 900;
}

Link {
	color: #ee3322;
}

@media screen and (max-width: 1400px) {
	.landing-footer-childl-heading{
		font-size: 1.5rem;
	}

	.landing-footer-childl-content{
		font-size: 0.9375rem;
		line-height: 1.5rem;
	}

	.footer-links li {
		line-height: 2.25rem;
		font-size: 0.7031rem;
		letter-spacing: 0.1rem; 
	}
}


@media screen and (max-width: 780px) {
	.landing-footer-childl {
		padding-left: 13%;
		width: 85%;
	}

	.landing-footer-childr {
		margin: 0;
		width: 100%;
	}

	.landing-footer-childl-heading{
		padding-top: 5%;
		font-size: 1.25rem;
	}

	.landing-footer-childl-content{
		padding: 4%;
		width: 100%;
		font-size: 0.8rem;
		line-height: 1rem;
	}

	.footer-links li {
		text-align: center;
		width: 33.3%;
		line-height: 1.75rem;
		font-size: 0.5rem;
		letter-spacing: 0.075rem; 
	}

	.landing-footer-parent {
		display: block;
	}

	.footer-links {
		margin: 10%;
		padding: 0 0 5% 0;		
	}

	.landing-footer-childr {
	}
}
