.Heading-Theme-text{
  opacity: 0.8;
  font-family: HelveticaNeue-Light;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.53px;
  text-align: left;
  color: #ffffff;
  z-index: 99;

}
.Heading-Theme-parent{
    display: flex;
    flex-direction: row;
    position: relative;
    width: fit-content;
}
.heading-Image{
height: 20px;
width: 20px;
background: red;
position: absolute;
right: 0;
}