.landing-speaker-parent {
  margin: 10rem 0 0 0;
  padding: 3rem 0 0 0;
  height: fit-content;
  background-image: linear-gradient(to right, #1e1e26, #291e24 57%, #341f21);
  opacity: 0.9;
  position: relative;
}

.landing-speaker-parent-background {
  z-index: -1;
  height: 100%;
  width: 40vw;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-image: url("../images/download.jpg");
  opacity: 0.2;
  filter: sepia(10%) hue-rotate(150deg) saturate(50%) brightness(80%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.landing-speaker-parent-header {
  padding: 0 18rem 0 10rem;
  height: 11vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.landing-speaker-parent-header-content {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.landing-speaker-parent-header-content > div {
  cursor: pointer;
  height: 80%;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.landing-speaker-parent-header-content > div:last-child {
  padding: 0 0 0 2vw;
}
.landing-speaker-parent-header-content-speakers {
  height: 5.5vw;
  width: 5.5vw;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: center;
}
.landing-speaker-parent-header-content h1 {
  font-family: HelveticaNeue-Light;
  font-size: 1.5rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-transform: capitalize;
}
.landing-speaker-content-parent {
  padding: 2rem 11rem 2rem 2.5rem;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slide {
  height: 100%;
  width: 100%;
}
.slide-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.slide-image {
  background-image: url(../images/download.jpg);
  z-index: +5;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  filter: brightness(120%);
  border-radius: 0.2rem;
}
.slide-text {
  height: 100%;
  width: 50%;
  padding: 0 0 0 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-end;
  position: relative;
}
.slide-text div {
  position: absolute;
  z-index: +6;
  top: 15.2%;
  left: -8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slide-text h1 {
  white-space: nowrap;
  font-size: 5rem;
  margin: 0;
  color: red;
  font-family: HelveticaNeue-Regular;
  font-weight: 600;
  font-stretch: wider;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
.slide-text h3 {
  align-self: flex-end;
  margin-top: 35.4%;
  font-size: 2rem;
  font-family: HelveticaNeue-Regular;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: #ffffff;
}
.slide-text p {
  margin-top: 9%;
  opacity: 0.8;
  font-family: HelveticaNeue-Light;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: justify;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.active {
  height: 5.5vw;
  width: 5.5vw;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid red;
}
.active-text {
  color: red !important;
}
@keyframes fade {
  0% {
    opacity: 0.2;
    transform: translateX(50vw);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-10vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
.landing-speaker-content-icon svg {
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  cursor: pointer;
  z-index: +10;
}

@media only screen and (max: width:768px) {
}
