.landing-Theme-parent{
    padding:2rem 18rem 2rem 10rem;
    height:fit-content;
    /* border:2px solid green; */
    margin-top: 5rem;
}
.landing-Theme-parent-heading-line{
    height:.5rem;
    width: 7rem;
    background: #54565b;
}
.landing-Theme-parent-heading-content{
    font-size: 4rem;
    color:#ffffff;
    opacity: .8;
    font-family: HelveticaNeue-Bold;
}

.landing-Theme-slider-parent{
display: flex;
flex-direction: row;
margin-top: 2rem;
}
.landing-Theme-slider-parent-pic{
width: 30%;
/* border:2px solid red; */
height: 20rem;

}

.landing-Theme-slider-child{
width: 70%;
opacity: 0.8;
font-family: HelveticaNeue-light;
font-size: 1.42rem;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: justify;
color: #ffffff;

/* border:2px solid blue; */

}
.ant-carousel .slick-slide {
    text-align: center;
    height: 20rem;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-carousel .slick-dots{
    position: absolute;
    top: -3rem;
    text-align: right;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2rem;
}
.ant-carousel .slick-dots li button{
    height: 2rem;
    width: 2rem;
    background: #54565b;
}
.ant-carousel .slick-dots li.slick-active button{
    width: 2rem;
}