
@font-face {
        font-family: "HelveticaNeue-regular";
        
        src:url('./fonts/HelveticaNeue.ttf')  format('truetype');
    
        }
@font-face {
        font-family: "HelveticaNeue-Light";
        
        src:url('./fonts/HelveticaNeue-Light.ttf')  format('truetype');
    
        }

@font-face {
        font-family: "HelveticaNeue-Bold";
        
        src:url('./fonts/HelveticaNeue-Bold.ttf')  format('truetype');
    
        }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
